/* please ignore the ugly colors i want to make each element clearly visible :^) */
header {
    display: flex;
    flex-grow: 2;
    align-items: center;
    border: 2px solid rgb(33, 182, 150);
    justify-content: center;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 195, 255));
}
h1 {
    color: mediumseagreen;
    text-align: center;
    background-color: black;
}
main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}
.content-left {
    display: flex;
    flex-direction: column;
    margin-right: 2.5em;
    flex: 3;
    border: 3px solid rgb(219, 172, 17);
    justify-content: space-evenly;
    background-color: rgb(235, 205, 109);
}
.content-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: xx-large;
    background-color: cornflowerblue;
    border: 3px solid rgb(219, 172, 17);
}
.fishlist {
    border: 3px solid darkslategray;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    margin-top: 1em;
    justify-content: space-evenly;
}
.fish {
    border: 3px solid silver;
    display: flex;
    justify-content: center;
}
.quote {
    border: 3px solid goldenrod;
    display: flex;
    justify-content: center;
}
.location {
    border: 3px solid lightcoral;
    display: flex;
    justify-content: center;
}
.card {
    padding: 1em;
    margin: 0.5em;
}
.tank {
    border: 3px solid rgb(27, 33, 39);
    justify-content: center;
    }